<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OntoApps @ Stanford</title>
    <link href="../static/css/libraries/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/libraries/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/token-input.css" rel="stylesheet" type="text/css" />
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Maulik R. Kamdar">
    <meta name="keywords" content="ontologies, logs, engineering, biomedical, classes, term, reuse, overlap, visualization, graph, search" />
    <script src="../static/js/libraries/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="../static/js/libraries/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../static/js/libraries/cytoscape.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-qtip/2.2.5/cytoscape-qtip.js"></script>
    <script type="text/javascript" src="../static/js/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/libraries/d3.v3.min.js"></script>
    <script type="text/javascript" src="../static/js/libraries/jquery.tokeninput.js"></script>
    <script> 
      $(function(){
        jQuery("#headercontent").load("/header"); 
      });
    </script>
  </head>
   
  <body>
   
    <div class="container-fluid">
      <div id = "headercontent"></div>

    <div class="row-fluid">
            <div class="span6" align="center">
              <!--<div class="emph"><a href="/m3"><h3>M3CRNN - Predicting MGMT methylation from MRI scans</h3><hr><img width="400px" src="../../static/img/m3crnn.png"></a></div>-->
              <div class="emph"><a href="/vision"><h3><img src="../static/img/vision.png" width="25px" height="25px">&nbsp;&nbsp;VisIOn - Visualizing user Interactions with Ontologies</h3><hr><img width="400px" src="../../static/img/vision_vis.png"></a></div>
              <div class="emph"><a href="/phlegra"><h3><img src="../static/img/phlegra.jpg" width="50px" height="50px">&nbsp;PhLeGrA - Linked Graph Analytics in Pharmacology</h3><hr><img width="400px" src="../../static/img/phlegra_archi.png"></a></div>
              <div class="emph"><a href="/prism"><h3><img src="../static/img/prism_ico.png" width="50px" height="50px">&nbsp;PRISM - Passive Real-time Information for Sensing Mental Health</h3><hr><img width="400px" src="../../static/img/prism.png"></a></div>
              <div class="emph"><a href="/reveald"><h3>ReVeaLD - Real-time Visual Explorer and Aggregator of Linked Data</h3><hr><img width="400px" src="../../static/img/Reveald.jpg"></a></div>
            </div>
            <div class="span6" align="center">
              <div class="emph"><a href="/bionic"><h3><img src="../static/img/bionic.png" width="50px" height="50px">&nbsp; BiOnIC - Biomedical Ontologies Interaction Catalogue</h3><hr><img width="400px" src="../../static/img/bionic_model.png"></a></div>
              <div class="emph"><a href="/ontoreuse"><h3>Ontology Term Overlap and Reuse</h3><hr><img width="400px" src="../../static/img/archi2.png"></a></div>
              <div class="emph"><a href="/ebolakb"><h3>An Ebola Virus-centered Knowledge Base</h3><hr><img width="400px" src="../../static/img/ebola.png"></a></div>
              <div class="emph"><a href="/genomesnip"><h3>GenomeSnip</h3><hr><img width="400px" src="../../static/img/Genomesnip.jpg"></a></div>
            </div>
        </div>
        <footer class="footer">
          <p>&copy; <a href="http://www.stanford.edu/~maulikrk" target="_blank">Maulik R. Kamdar</a>, 2015</p>
        </footer>
    </div>
  </body>
</html>