<div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li><a href="/vision">VisIOn</a></li>
            <li><a href="/bionic">BiOnIC</a></li>
            <li><a href="/phlegra">PHLeGrA</a></li>
            <li><a href="/ontoreuse">OntoReuse</a></li>
            <!--<li><a href="/m3crnn">M3CRNN</a></li>-->
            <li><a href="/genomesnip/about">GenomeSnip</a></li>
            <li><a href="/prism/about">PRISM</a></li>
            <li><a href="/reveald/about">ReVeaLD</a></li>
            <li><a href="/ebolakb/about">EbolaKB</a></li>
            <li><a href="/about">About OntoApps</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><a href="/about">OntoApps @ Stanford</a></h3>
      </div>